@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

::selection {
  background: #14b8a6;
  color: white;
}















/* Arrow timeline shapes */
.clip-path-arrow-right {
  clip-path: polygon(0% 0%,
      92% 0%,
      100% 50%,
      92% 100%,
      0% 100%);
}

.clip-path-arrow-left {
  clip-path: polygon(8% 0%,
      100% 0%,
      100% 100%,
      8% 100%,
      0% 50%);
}